@import "tailwindcss";

.header {
  @apply container max-w-[1400px] mx-auto bg-pink-500 text-center text-4xl flex justify-center md:justify-between items-center lg:rounded-b-full lg:px-4;
}

.header img {
  cursor: pointer;
}

h1 {
  font-family: "Pattaya", sans-serif;
  @apply text-3xl text-white md:text-5xl px-1 lg:px-4;
}

.food {
  @apply flex justify-center gap-10 flex-wrap;
}

.food li {
  @apply text-xl h-[300px] rounded-2xl mb-3;
}

.btn {
  @apply bg-green-400 text-white p-3 rounded-lg cursor-pointer;
}

.cta {
  @apply flex justify-around p-6 text-2xl;
}

.order--now {
  @apply bg-green-400 text-black text-2xl;
  font-family: "Ubuntu", sans-serif;
}

.menu {
  @apply flex justify-center flex-col items-center;
  font-family: "Ubuntu", sans-serif;
}

.show--menu {
  @apply bg-yellow-300 text-black;
  font-family: "Ubuntu", sans-serif;
}

.close {
  @apply bg-red-400 w-48 text-white p-3 px-5 mb-3 rounded-lg cursor-pointer;
}

.form {
  @apply flex flex-col md:flex-row justify-around  p-10;
}

.form input,
select {
  @apply max-w-58 bg-white mb-10 h-11;
}

.order,
.person {
  @apply flex flex-col;
}
